* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#game {
  width: 960px;
  height: 960px;
}

#map {
  width: 960px;
  height: 960px;
  grid-template-columns: repeat(10, 96px);
  grid-template-rows: repeat(10, 96px);
}
.tile {
  width: 96px;
  height: 96px;
  border: 1px solid #ccc;
  position: relative;
}
.tile.hospital::before {
  content: '';
  background-image: url('img/hospital.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}
.tile.school::before {
  content: '';
  background-image: url('img/school.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}
.tile.park::before {
  content: '';
  background-image: url('img/park.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}
#character {
  width: 72px; /* bigger to match bigger tiles */
  height: 72px;
}
